{%  extends 'main/layoute.html'%}

    {% block title %}

        <title>О нас</title>

    {% endblock %}

    {% block content %}

        <main class="col-md-9">
                <div class="content">
                    <div class="card">
                    <img src="static/main/img/qrtg.jpg" alt="Мы в телеграмме" style="width: 300px;"

                    <h2> Еще больше изделий</h2>
                      <h3> бонусные программы и розыгрыши</h3>

                    </div>
                </div>
            </main>

    {% endblock %}