{%  extends 'main/layoute.html'%}

    {% block title %}

        <title>третья страница</title>

    {% endblock %}

    {% block content %}

            <main class="col-md-9">
                <div class="content">
                    <div class="card">
                    <img src="static/main/img/fire.jpeg" alt="Подставка пол телефон" style=" width: 300px";>

                    <h2> Охота посидедь перед костром, но нет подготовленного места?</h2>
                      <h3> Есть выход, наша костровая чаша.</h3>
                        <h3> Безопастная конструкция,
                            интересный рисунок оставят положительные эмоции от
                            времяпровожления возле нашей костровой чаши.</h3>

                    </div>
                </div>
            </main>

    {% endblock %}